.container {
  width: auto;
  max-width: 100%;
  padding: 0 30px;
  padding-bottom: 30px;

}


.footer {
  background-color: #f5f5f5;
  text-align: center;
}
.footer a {
  text-decoration: none;
}
ul li{
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 10%;
  width: 100%;
  height: 618px;
}
.pagination {
  display: block;
  text-align: center;
  width: 30%;
  margin: auto;
}
h1, h2, h3, h4 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-align: center;
}
a.link-post{
  display: block;
  text-align: center;
  margin:auto;
  width:50%;
  padding:1px 1px 1px 1px;
}
a.read-more{
  width: 30%;
  margin: auto;
  text-align: center;
}
form{
    width: 50%;
    margin: auto;
}
p.postcontent{
  width: 50%;
  margin: auto;
}
.comment{
  width: 40%;
  margin: auto;
}
.commenttitle{
  text-decoration: underline;
  font-weight: bold;
}
.nodecorationlink{
  color: black;
}

/*Infobulle*/
a span.infobulle{ 
  position:absolute;
  margin-top:25px; 
  margin-left:-25px;
  color:#fff; 
  background:rgba(0, 0, 0, 0.5); 
  padding:25px; 
  border-radius:3px; 
                
  /* Faire disparaire infobulle par défaut */
  /* On determine l'origine de la rotation */ 
  transform:scale(0) rotate(-180deg);
  /* Faire durer l'effet */
  transition:all .25s;
  /* Effet sur la transparence */ 
  opacity:0;
}
  /* Apparition de la bulle avec le scale à 1 */ 
a:hover span.infobulle, a:focus span.infobulle{ 
  transform:scale(1) rotate(0);
  /* Effet sur la transparence */ 
  opacity:1;
}


/*h1, h2, h3, h4
{
    text-align:center;
    width: auto;
}
h3
{
    font-size:0.9em;
    margin: auto;
    padding: 1.5px 1.5px 1.5px 1.5px;
    text-align: center;
    width: 50%;
}
p
{
    display:block;
    text-align: center;
    margin:auto;
    padding: 1px 1px 1px 1px;
    width: 50%;
}

a
{
    
    display:block;
    text-align:center;
    color:blue;
    text-decoration:none;
    margin:auto;
    width:50%;
    padding:1px 1px 1px 1px;
}
form
{
    text-align: center;
    margin: auto;
    padding: auto;
}
a.stylebutton 
{
  border-radius: 1px;
  border: solid thin #929292;
  text-shadow: none;
  background: #F6F6F6;
  color: buttontext;
  padding: 3px 8px;
  margin: 2px;
  text-decoration: none;
  font-family: Arial;
  font-size: 13px;
  display: block;
  margin:auto;
  width:10%;
  padding:1px 1px 1px 1px;

}

a.stylebutton:hover {
  background-image: -webkit-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -moz-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -ms-linear-gradient(top, #DDDDDD, #F6F6F6);
  background-image: -o-linear-gradient(top, #DDDDDD, #F6F6F6, #DDDDDD);
  background-image: linear-gradient(to bottom, #DDDDDD, #F6F6F6);    
}
a.blogTitle
{
    color:black;
}
h1.dashboardTitle
{
  text-align: left;
  margin: auto; 

}
h2.dashboard
{
  text-align: center;
}
table.allPostsAdminTable
{

  text-align: center;
  margin: auto;
  padding: auto;
  width: 50%;
  border: solid 1px black;
}
td
{
  border: solid 1px black;
  width:200px;
}
table.allCommentsAdminTable, .allReportsAdminTable
{

  text-align: center;
  margin: auto;
  padding: auto;
  width: 70%;
  border: solid 1px black;
  vertical-align: text-top;
}