.container {
  width: auto;
  max-width: 100%;
  padding: 0 30px;
  padding-bottom: 30px;

}


.footer {
  background-color: #f5f5f5;
  text-align: center;
}
.footer a {
  text-decoration: none;
}
ul li{
  list-style: none;
}
img {
  max-height: 600px;
  width: 100%;
}
.pagination {
  display: block;
  text-align: center;
  width: 30%;
  margin: auto;
}
h1, h2, h3, h4 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-align: center;
}
a.link-post{
  display: block;
  text-align: center;
  margin:auto;
  width:50%;
  padding:1px 1px 1px 1px;
}
a.read-more{
  width: 30%;
  margin: auto;
  text-align: center;
}
form{
    width: 50%;
    margin: auto;
}
.postcontent{
  width: 50%;
  margin: auto;
}
.comment{
  width: 40%;
  margin: auto;
}
.commenttitle{
  text-decoration: underline;
  font-weight: bold;
}
.nodecorationlink{
  color: black;
}

/*Infobulle*/
a span.infobulle{ 
  position:absolute;
  margin-top:25px; 
  margin-left:-25px;
  color:#fff; 
  background:rgba(0, 0, 0, 0.5); 
  padding:25px; 
  border-radius:3px; 
                
  /* Faire disparaire infobulle par défaut */
  /* On determine l'origine de la rotation */ 
  transform:scale(0) rotate(-180deg);
  /* Faire durer l'effet */
  transition:all .25s;
  /* Effet sur la transparence */ 
  opacity:0;
}
  /* Apparition de la bulle avec le scale à 1 */ 
a:hover span.infobulle, a:focus span.infobulle{ 
  transform:scale(1) rotate(0);
  /* Effet sur la transparence */ 
  opacity:1;
}
.dashboard{
  width: 70%;
  margin-left: 17%;
}

.sidebar-sticky{
  position: relative;
  top: 0;
  height: calc(80vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.question{
  width: 20%;
  margin: auto;
  padding: auto;
  text-align: center;
  line-height: 100px;
  height: 100px;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.btn-text-color{
  color: white;
}
.row {
  margin: 0, 0, 0 ,0;
}


/*@media screen and handheld and (max-width: 800px)
  @media all and (max-width: 400px)
{
    .navsize{
    width: auto;
  }
}
  /*.head-navbar{
  width: auto;
  text-align: left;
  }
  nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
}
